.elementor-9323 .elementor-element.elementor-element-d0a78cc{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-9323 .elementor-element.elementor-element-d0a78cc:not(.elementor-motion-effects-element-type-background), .elementor-9323 .elementor-element.elementor-element-d0a78cc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-9323 .elementor-element.elementor-element-d0a78cc, .elementor-9323 .elementor-element.elementor-element-d0a78cc::before{--border-transition:0.3s;}.elementor-9323 .elementor-element.elementor-element-0dbaaf0{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9323 .elementor-element.elementor-element-92f1e58{--display:flex;--justify-content:center;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9323 .elementor-element.elementor-element-18dabf0{text-align:left;}.elementor-9323 .elementor-element.elementor-element-18dabf0 img{width:85%;}.elementor-9323 .elementor-element.elementor-element-18dabf0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-9323 .elementor-element.elementor-element-1716613{--display:flex;--justify-content:center;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9323 .elementor-element.elementor-element-cd2bd26{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-end;--align-items:center;--gap:10px 10px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9323 .elementor-element.elementor-element-72879b8 .elementor-button .elementor-align-icon-right{margin-left:10px;}.elementor-9323 .elementor-element.elementor-element-72879b8 .elementor-button .elementor-align-icon-left{margin-right:10px;}.elementor-9323 .elementor-element.elementor-element-72879b8 .elementor-button{font-family:"Inter", Sans-serif;font-size:14px;font-weight:600;fill:#26528F;color:#26528F;background-color:#FFFFFF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#26528F;border-radius:30px 30px 30px 30px;padding:20px 30px 20px 30px;}.elementor-9323 .elementor-element.elementor-element-72879b8{width:auto;max-width:auto;}.elementor-9323 .elementor-element.elementor-element-c0f451b .elementor-button{font-family:"Inter", Sans-serif;font-size:14px;font-weight:600;background-color:#26528F;border-radius:30px 30px 30px 30px;padding:20px 30px 20px 30px;}.elementor-9323 .elementor-element.elementor-element-c0f451b{width:auto;max-width:auto;}@media(max-width:767px){.elementor-9323 .elementor-element.elementor-element-92f1e58{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:20px;--padding-block-end:40px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-9323 .elementor-element.elementor-element-18dabf0{text-align:center;}.elementor-9323 .elementor-element.elementor-element-18dabf0 img{width:35%;}.elementor-9323 .elementor-element.elementor-element-18dabf0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-9323 .elementor-element.elementor-element-1716613{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:10px;--padding-block-end:10px;--padding-inline-start:0px;--padding-inline-end:14px;}.elementor-9323 .elementor-element.elementor-element-cd2bd26{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:20px;--padding-block-end:40px;--padding-inline-start:0px;--padding-inline-end:0px;}}@media(min-width:768px){.elementor-9323 .elementor-element.elementor-element-0dbaaf0{--width:100%;}.elementor-9323 .elementor-element.elementor-element-92f1e58{--width:15%;}.elementor-9323 .elementor-element.elementor-element-1716613{--width:40%;}.elementor-9323 .elementor-element.elementor-element-cd2bd26{--width:45%;}}/* Start custom CSS */body {
    overflow-x: hidden;
}
form {
    margin-bottom: 0 !important;
}

#header-assuro #form_search .elementor-form-fields-wrapper {
    justify-content: flex-end;
}
#form_search label {
    display: none;
}

#header-assuro #form_search .elementor-form-fields-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

#header-assuro #form_search .elementor-field-group.elementor-field-type-submit {
    align-items: flex-start;
        margin: 0 10px;
    /*
    justify-content: flex-end;*/
}

#header-assuro #form_search .elementor-select-wrapper.remove-before:before {
    content: url(/wp-content/uploads/2023/11/angle-right.svg) !important;
    top: 50%;
    right: 20px;
}
#header-assuro #form_search .select-caret-down-wrapper {
    display: none;
}
#header-assuro #form_search input[type="text"], 
#header-assuro #form_search input[type="password"],
#header-assuro #form_search input[type="email"],
#header-assuro #form_search input[type="tel"], 
#header-assuro #form_search textarea, 
#header-assuro #form_search select {
    padding: 14px 20px;
    margin: 0px;
    border-radius: 56px;
    margin-right: 0px;
    margin-left: 10px;

}
#header-assuro #form_search .elementor-button .elementor-align-icon-left {
    margin-right: 0;
}

#header-assuro #form_search button.elementor-button.elementor-size-sm {
    background-color: #26528F;
    color: #ffffff;
    border-radius: 100%;
    padding: 20px;
    margin-bottom: 0px;
    border: none;
}

#form2 #form_poliza input[type="text"], 
#form2 #form_poliza input[type="password"],
#form2 #form_poliza input[type="email"],
#form2 #form_poliza input[type="tel"], 
#form2 #form_poliza textarea, 
#form2 #form_poliza select {
    padding: 15px 20px;
    margin-bottom: 5px;

}
#form2 #form_poliza .e-form__indicators {
    justify-content: center;
    align-items: center;
}
#form2 #form_poliza .e-form__indicators__indicator__separator {
    width: 10px;
}
#form_search .elementor-field-group select {
    border: 1px solid #26528F47;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .section-carr-assuro .elementor-widget-container .elementor-swiper-button-prev,
  .section-carr-assuro .elementor-widget-container .elementor-swiper-button-next {
    display: none;
    }
    #form2 #form_poliza input[type="text"], 
    #form2 #form_poliza input[type="password"],
    #form2 #form_poliza input[type="email"],
    #form2 #form_poliza input[type="tel"], 
    #form2 #form_poliza textarea, 
    #form2 #form_poliza select {
        padding: 12px;
}
    a.btn-buscar {
        width: 100%;
    }
    #header-assuro #form_search input[type="text"], 
    #header-assuro #form_search input[type="password"], 
    #header-assuro #form_search input[type="email"], 
    #header-assuro #form_search input[type="tel"], 
    #header-assuro #form_search textarea,
    #header-assuro #form_search select {
    
        margin-left: 0;
        margin-bottom: 13px;
    }
    #header-assuro #form_search button.elementor-button.elementor-size-sm {
        width: 100%;
    }
}/* End custom CSS */