:root{--page-title-display:none;}body.elementor-page-8238:not(.elementor-motion-effects-element-type-background), body.elementor-page-8238 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F4F8FF;}/* Start custom CSS */body {
    overflow-x: hidden;
}
form {
    margin-bottom: 0 !important;
}

#header-assuro #form_search .elementor-form-fields-wrapper {
    justify-content: flex-end;
}
#form_search label {
    display: none;
}

#header-assuro #form_search .elementor-field-group.elementor-field-type-submit {
    align-items: flex-start;
    justify-content: flex-end;
}

#header-assuro #form_search .elementor-select-wrapper.remove-before:before {
    content: url(./../../2023/11/angle-right.svg) !important;
    top: 50%;
    right: 20px;
}
#header-assuro #form_search .select-caret-down-wrapper {
    display: none;
}
#header-assuro #form_search input[type="text"], 
#header-assuro #form_search input[type="password"],
#header-assuro #form_search input[type="email"],
#header-assuro #form_search input[type="tel"], 
#header-assuro #form_search textarea, 
#header-assuro #form_search select {
    padding: 14px 20px;
    margin: 0px;
    border-radius: 56px;
    margin-right: 0px;
    margin-left: 10px;

}

#header-assuro #form_search button.elementor-button.elementor-size-sm {
    background-color: #26528F;
    color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    padding: 20px 40px 20px 40px;
    margin-bottom: 0px;
}

#form2 #form_poliza input[type="text"], 
#form2 #form_poliza input[type="password"],
#form2 #form_poliza input[type="email"],
#form2 #form_poliza input[type="tel"], 
#form2 #form_poliza textarea, 
#form2 #form_poliza select {
    padding: 15px 20px;
    margin-bottom: 5px;

}
#form2 #form_poliza .e-form__indicators {
    justify-content: center;
    align-items: center;
}
#form2 #form_poliza .e-form__indicators__indicator__separator {
    width: 10px;
}
#form_search .elementor-field-group select {
    border: 1px solid #26528F47;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .section-carr-assuro .elementor-widget-container .elementor-swiper-button-prev,
  .section-carr-assuro .elementor-widget-container .elementor-swiper-button-next {
    display: none;
    }
    #form2 #form_poliza input[type="text"], 
    #form2 #form_poliza input[type="password"],
    #form2 #form_poliza input[type="email"],
    #form2 #form_poliza input[type="tel"], 
    #form2 #form_poliza textarea, 
    #form2 #form_poliza select {
        padding: 12px;
}
    a.btn-buscar {
        width: 100%;
    }
    #header-assuro #form_search input[type="text"], 
    #header-assuro #form_search input[type="password"], 
    #header-assuro #form_search input[type="email"], 
    #header-assuro #form_search input[type="tel"], 
    #header-assuro #form_search textarea,
    #header-assuro #form_search select {
    
        margin-left: 0;
        margin-bottom: 13px;
    }
    #header-assuro #form_search button.elementor-button.elementor-size-sm {
        width: 100%;
    }
}/* End custom CSS */